{% extends "base.html" %}

{% load bootstrap3 %}

{% block breadcrumb %}
    <a href="/" class="breadcumb__page no-decoration">Главная</a>
    <span class="breadcumb__del no-decoration">»</span>
    <a href="{% url 'profile:edit_user' %}" class="breadcumb__page no-decoration">Личный кабинет</a>
{% endblock %}

{% block title %}Редактирование профиля{% endblock title %}

{% block content %}

<div class="container">

    <div class="row" style="padding-right: 25px;">
        <div class="col-md-12 col-lg-3" >

            <div class="order_cart" style="padding: 5px 5px 5px 5px; text-align: center;  margin-bottom: 10px; line-height: 30px;">
                <a href="{% url 'profile:edit_user' %}" class="">
                    <span class="fa fa-user" aria-hidden="true"></span>
                </a>
                <a href="{% url 'profile:edit_user' %}" style="font-weight: bold;">{{ user.username }}</a>&nbsp;|&nbsp;
                <a href="{% url 'auth_logout' %}" class="">выход <span class="fa fa-sign-in"></span></a>
            </div>

            <div class="root_catalog"><a href="{% url 'profile:orders_history' %}" class="root_catalog_link">История заказов</a></div>
            <div class="root_catalog"><a href="{% url 'profile:edit_user' %}" class="root_catalog_link">Редактирование профиля</a></div>
        </div>
        <div class="col-md-12 col-lg-9">
            <div class="card">
                <div class="card-content">
                    <h2 class="flow-text">Редактирование профиля</h2>
                    {% bootstrap_messages %}
                    <form action="." method="POST" class="form-horizontal">
                        {% csrf_token %}

                        {% bootstrap_form noodle_form layout='horizontal' %}
                        {% bootstrap_formset formset layout='horizontal' %}

                      {% buttons %}
                        <button type="submit" class="btn btn-primary">
                          {% bootstrap_icon "ok" %} Сохранить
                        </button>
                      {% endbuttons %}

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}