{% extends 'base.html' %}




{% block breadcrumb %}
    <a href="/">Главная</a><span class="breadcumb__del no-decoration">»</span>



{% endblock %}

{% block title %}Обратная связь{% endblock title %}

{% block content %}

    {% if cart.total_price  %}
<script>

</script>

{% endif %}

    <div class="container" align="center">
    <h1>Благодарим за обращение! </h1>
    <p>Обратная связь способствует улучшению клиентского сервиса. В случае необходимости, с Вами свяжутся наши специалисты.</p>
    </div>
    <br><br><br><br><br><br>

{% endblock %}