{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock title %}
{% block keywords %}{{ object.meta_keywords }}{% endblock keywords %}
{% block description %}{{ object.meta_description }}{% endblock description %}

{% block content %}
    {% if slug == 'main' %}
        {% include "news/block_list.html" %}
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            {{ object.content|safe }}
        </div>
    </div>
{% endblock content %}

{% block carousel %}
    {% if object.carousel %}
        {% include "page/carousel.html" %}
    {% endif %}
{% endblock carousel %}