{% extends "base.html" %}
{% load thumbnail %}
{% load cms_tags %}
{% block breadcrumb %}


<a href="/" class="breadcumb__page no-decoration">Главная</a>
<span class="breadcumb__del no-decoration">»</span>
Поиск

{% endblock %}

{% block title %}Поиск{% endblock title %}


{% block content %}


<div class="container" style="background-color: {{ sitting.main_back_color | safe }}; margin-left: -15px;">
    <header class="tab-header clearfix wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.7s; animation-name: fadeInUp;">
        <h2 class="title title--main pull-left">Поиск<span class="line line--small"><span class="line__first"></span><span class="line__second"></span></span></h2>
        <div class="tab-toggles pull-right js-isotope-btns">

        </div>
    </header>


    <div class="row" style="padding-right: 25px;">
        <div class="col-md-12 col-xs-6"  style="">
            {% if item_list.count > 0 %}

            <table class="table">

                {% for category_obj in object_list %}
                    <tr>
                        <td class="text-left" width="150">

                            {% if category_obj.item_variation_set.first.item_image_set.first.file %}
                                {% thumbnail category_obj.item_variation_set.first.item_image_set.first.file "400x400" crop="center" as im %}
                                {% thumbnail category_obj.item_variation_set.first.item_image_set.first.file "1000x1000" crop="center" as exl %}
                                    <a href="{{ exl.url }}" data-toggle="lightbox">
                                        <img src="{{ im.url }}" width="150" onclick="img_on_hover()" class="img-responsive img_product_mini" alt="{{ item_obj.title }}">
                                    </a>
                                {% endthumbnail %}
                                {% endthumbnail %}
                            {% else %}
                                <img src="/static/images/nofoto.jpg" class="img-responsive" width="150" alt="{{ item_obj.title }}">
                            {% endif %}

                            {% if category_obj.new_flag == True %}
                                <div class="new_flag" style="width: 150px;text-align: center; background-color: #EE0000; color: #FFFFFF; font-weight: bold; position: relative;">НОВИНКА</div>
                            {% else %}
                                <div class="new_flag" style="width: 150px;text-align: center; background-color: #FFFFFF; color: #FFFFFF; font-weight: bold; position: relative;"></div>

                            {% endif %}

                        </td>
                        <td width="50%">
                            <a href="{% url 'shop:product' category_obj.category.first.slug category_obj.slug %}"> <b style="font-size: 16px;">{{ category_obj.title }}</b> </a> <br> {{ category_obj.item_variation_set.first.title }}
                           <br>
                            <input type="hidden" class="item-variation-select-cat" value="{{ category_obj.item_variation_set.first.pk }}">
                            {{ category_obj.content_small }}
                        </td>





                        <td width="20%">

                            {% for variation_obj in category_obj.item_variation_set.all %}
                                <span class="item-stock-{{ variation_obj.pk }}"  {% if forloop.counter != 1 %} style="display: none;" {% endif %} id="span-stock-{{ variation_obj.pk }}">
                                    {% if variation_obj.stock == 1 %}
                                        <font color="green">    На складе </font>
                                    {% elif variation_obj.stock == 2 %}
                                         <font color="blue"> Ожидается  - {{ variation_obj.stock_text }} </font>
                                    {% elif variation_obj.stock == 0 %}
                                         <font color="red"> Нет в наличии </font>
                                    {% endif %}
                                </span>
                                <input type="hidden" id="stock-{{ variation_obj.pk }}" value="{{ variation_obj.stock }}">
                            {% endfor %}
                            <br>
                            Мин.партия: {{  category_obj.min_offer }}<br>
                            РРЦ: {{ category_obj.item_variation_set.first.price_1 }} &#8381; <br>
                            {% if user and not user.is_anonymous %}


                            <div style="font-size: 20px; font-weight: bold; padding-top: 5px;">{{ category_obj.item_variation_set.first.price_2 }} &#8381;</div>


                            {% else %}
                            <a  title="Вниманию оптовикам !!! Что бы получить оптовую цену, необходимо зарегистрироваться." data-content="Что бы получить оптовую цену, необходимо зарегистрироваться, как партнер." href="/register/" class="btn btn-danger btn-xs">Авторизация </a>
                            {% endif %}



                        </td>
                    </tr>
                {% endfor %}


        </table>

        {% endif %}

        </div>
    </div>
</div>

<br>

{% endblock content %}