{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}



    <div class="container">

    <header class="tab-header clearfix wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.7s; animation-name: fadeInUp;">
					<h2 class="title title--main pull-left">Вход для партнера<span class="line line--small"><span class="line__first"></span><span class="line__second"></span></span></h2>
					<div class="tab-toggles pull-right js-isotope-btns"></div>
				</header>

{% url 'auth_password_reset' as auth_pwd_reset_url %}
{% url 'registration_register' as register_url%}

  {% include 'registration/form_errors.html' %}
  <form method="post" class="well form-horizontal" action="{% url 'auth_login' %}">{% csrf_token %}
    {% include 'registration/form_fields.html' %}

    <p>
{% blocktrans %}<!--<a href="{{ auth_pwd_reset_url }}">Забыли пароль</a>&nbsp;/&nbsp;-->
    <a href="{{ register_url }}">Регистрация</a>{% endblocktrans %}</p>

      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Вход</button>
          </div>
      </div>

    <input type="hidden" name="next" value="{{ next }}" />
  </form>

    </div>
{% endblock %}
