


<div class="container">
<section class="sliders">
			<ul class="sliders__main js-slider-main slider enable-bx-slider" data-auto="true" data-auto-hover="true" data-mode="fade" data-pager="false" data-pager-custom="null" data-prev-selector="null" data-next-selector="null" >

{% for carousel_obj in carousel_block %}

     <li>
					<img src="/media/{{ carousel_obj.file }}" class="thbshpxktysplmywflo" alt="bxSlider" />
					<div class="sliders__text">
                        {{ carousel_obj.text|safe }}
					</div>
				</li>

{% endfor %}



			</ul>
		</section>
	</div>

