{% load thumbnail %}
	<section class="anons">
			<div class="container" style="background-color: {{ sitting.main_back_color | safe }};">
				<div class="row">
					<div class="col-md-4 col-xs-12 wow zoomInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<div class="anons__block triangle triangle--block line-down">
							<div class="anons__img">
								<i class="fa fa-newspaper-o  fa-4x" aria-hidden="true" ></i>
							</div>
							<h2><a href="/news" class="title no-decoration"><span class="title__bold">Новости</span></a></h2>
							<p class="text">Все новости нашей компании здесь</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-12 wow zoomInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<div class="anons__block anons__block--center triangle triangle--block-center">
							<div class="anons__photo"><img class="img-responsive" src="/static/images/product_img.jpg" alt="news"/></div>
							<div class="anons__color-block">
								<h2><a href="/shop" class="title no-decoration"><span class="title__bold">Продукция</span></a></h2>
								<p class="text">Более 300 наименований доступны для заказа</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-xs-12 wow zoomInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
						<div class="anons__block triangle triangle--block line-down">
							<div class="anons__img anons__img--bike">

								<i class="fa fa-gift fa-5x" aria-hidden="true" ></i>


							</div>
							<h2><a href="/page/spec-offers/" class="title no-decoration"><span class="title__bold">Спец. предложения</a></h2>
							<p class="text">Товары по специальной цене</p>
						</div>
					</div>
				</div>
			</div>
		</section><!--anons-->



		<section class="row">
			<div class="container" style="background-color: {{ sitting.main_back_color | safe }}; padding-top: 20px;padding-bottom: 20px;">
            {% comment %}
				<h2 class="title title--main wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">НОВОСТИ CAIMAN <span class="line line--title"><span class="line__first"></span><span class="line__second"></span></span></h2>
				<p c1lass="text text--anons wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s">Мы динамично развиваемся стараяcь обеспечить наших партнеров качественным товаром по приемлемым ценам</p>
			{% endcomment %}
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<div class="we-are__img wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s">

                          {% thumbnail main_news.all.0.file "555x315" crop="center" as im %}
                            <img class="img-responsive"  src="{{ im.url }}" alt="{{ main_news.all.0.title }}"/></div>
                        {% endthumbnail %}

						<div class="we-are__block triangle triangle--big wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="2.5s">
							<h3 class="title title--block">{{ main_news.all.1.title }}</h3>
							<p class="text">{{ main_news.all.1.small_text }}</p>
							<a href="{% url 'news:detail' main_news.all.1.pk %}" class="btn button button--red button--main">Подробнее</a>
						</div>
					</div>
					<div class="col-sm-6 col-xs-12">
						<div class="we-are__block triangle triangle--big wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="1.5s">
							<h3 class="title title--block">{{ main_news.all.0.title }}</h3>
							<p class="text">{{ main_news.all.0.small_text }}</p>
							<a href="{% url 'news:detail' main_news.all.0.pk %}" class="btn button button--red button--main">Подробнее</a>
						</div>
						<div class="we-are__img wow fadeInRight" data-wow-delay="0.7s" data-wow-duration="2.5s">

                        {% thumbnail main_news.all.1.file "555x315" crop="center" as im %}
                            <img class="img-responsive"  src="{{ im.url }}" alt="{{ main_news.all.1.title }}"/>
                        {% endthumbnail %}
                        </div>
					</div>
				</div>
            <div class="row">
                <br>
                <div class="col-md-12" align="center"> <a class="btn button button--red button--main" style="width: 100px" href="{% url 'news:list_all' %}">все новости</a></div>
				<br>
				<br>
            </div>
			</div>
		</section>


<!--we-are-->

		<div class="numbers">
			<div class="container" style="background-color: {{ sitting.main_back_color | safe }};">
				<div class="clearfix percent-blocks" data-waypoint-scroll="true" style="background-color: {{ sitting.main_back_color | safe }};padding:50px 50px 50px 50px;">
					<div class="numbers__one">
						<header class="numbers__head">
							<span class="fa fa-building"></span>
							<div class="line line--slim line--title"><div class="line__first"></div><div class="line__second"></div></div>
						</header>
						<div class="numbers__body chart" data-percent="{{ sitting.citys | safe }}">
							<p style="color: black">более</p>
                            <div class="numbers__num percent">{{ sitting.citys | safe }}</div>

							<div class="number__desc">Городов</div>
						</div>
					</div>
					<div class="numbers__one">
						<header class="numbers__head">
							<span class="fa fa-shopping-cart"></span>
							<div class="line line--slim line--title"><div class="line__first"></div><div class="line__second"></div></div>
						</header>
						<div class="numbers__body chart" data-percent="{{ sitting.shops | safe }}">
                            <p style="color: black">более</p>
							<div class="numbers__num percent">{{ sitting.shops | safe }}</div>
							<div class="number__desc">Магазинов</div>
						</div>
					</div>
					<div class="numbers__one">
						<header class="numbers__head">
							<span class="fa fa-check-square-o"></span>
							<div class="line line--slim line--title"><div class="line__first"></div><div class="line__second"></div></div>
						</header>
						<div class="numbers__body chart" data-percent="{{ sitting.orders | safe }}">
                            <p style="color: black">более</p>
							<div class="numbers__num percent">{{ sitting.orders | safe }}</div>
							<div class="number__desc">Заказов в год</div>
						</div>
					</div>
					<div class="numbers__one">
						<header class="numbers__head">
							<span class="fa fa-user"></span>
							<div class="line line--slim line--title"><div class="line__first"></div><div class="line__second"></div></div>
						</header>
						<div class="numbers__body chart" data-percent="{{ sitting.partners | safe }}">
                            <p style="color: black">более</p>
							<div class="numbers__num percent">{{ sitting.partners | safe }}</div>
							<div class="number__desc">Партнеров</div>
						</div>
					</div>
					<div class="numbers__one">
						<header class="numbers__head">
							<span class="fa fa-users"></span>
							<div class="line line--slim line--title"><div class="line__first"></div><div class="line__second"></div></div>
						</header>
						<div class="numbers__body chart" data-percent="{{ sitting.clients | safe }}">
							<p style="color: black">более</p>
                            <div class="numbers__num percent">{{ sitting.clients | safe }}</div>
							<div class="number__desc">Покупателей</div>
						</div>
					</div>
				</div>
			</div>
		</div>