{% extends 'base.html' %}
{% load thumbnail %}

{% block breadcrumb %}
    <a href="/">Главная</a><span class="breadcumb__del no-decoration">»</span>
    <a href="{% url 'shop:list_all'  %}"> Каталог продукции </a><span class="breadcumb__del no-decoration">»</span>
    Корзина

{% endblock %}

{% block title %}Корзина{% endblock title %}

{% block content %}
<div class="container">
  <h1>Ваша корзина товаров</h1>

    {% if cart.item_count > 0 %}
  <table class="cart" width="100%" cellpadding="15" cellspacing="15">
    <thead>
      <tr>
        <th>Изображение</th>
        <th>Продукт</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Полная цена</th>
        <th>Удалить</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart.list_items  %}
        {% with product=item.obj %}
          <tr>
            <td>

                <div class="thumbnail_container">
                    {% thumbnail product.item_image_set.first.file "50x50" crop="center" as im %}
                        <img src="{{ im.url }}" class="img-responsive img-thumbnail">
                    {% endthumbnail %}
                </div>

            </td>
              <td><a href="{% url "shop:product" product.item.category.first.slug product.item.slug %}">{{ product.title }}</a></td>
            <td>
                <div class="input-group" style="width: 120px;">
                  <input type="number" class="form-control cart-quantity" value="{{ item.quantity }}">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="cart.changeQuantity('{{ product.pk }}', $(this).parent().prev('.cart-quantity').val())" title="Изменить количество">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                  </span>
                </div>
            </td>
            <td class="num">{{ item.price }} руб.</td>
            <td class="num">{{ item.total }} руб.</td>
            <td>
                <button onclick="cart.remove('{{ product.pk }}')">Удалить</button>
            </td>
          </tr>
        {% endwith %}
      {% endfor %}
        <tr class="total">
          <td colspan="4" align="right">Итого</td>
          <td>&nbsp;</td>
          <td class="num">{{ cart.total_price }} руб.</td>
        </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url "shop:list_all"%}" class="btn">Вернуться в магазин</a>
    <a href="/page/order-success/">Оформить заказ</a>
  </p>
        {% else %}
            <h2 align="center">Ваша корзина пуста</h2>
            <a href="{% url "shop:list_all"%}" class="btn">Вернуться в магазин</a>
        {% endif %}
</div>
{% endblock %}