{% extends 'base.html' %}
{% load thumbnail %}

{% block breadcrumb %}
    <li><a href="/">Главная</a></li>
    <li> <a href="{% url 'shop:list_all'  %}"> Магазин </a></li>
    <li> Корзина </li>
{% endblock %}

{% block title %}Корзина{% endblock title %}

{% block content %}
<div class="container">
  <h1>Ваша корзина товаров</h1>
  <table class="cart" width="100%" cellpadding="15" cellspacing="15">
    <thead>
      <tr>
        <th>Изображение</th>
        <th>Продукт</th>
        <th>Количество</th>
        <th>Удалить</th>
        <th>Полная цена</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart.list_items  %}
        {% with product=item.obj %}
          <tr>
            <td>

                <div class="thumbnail_container">
                    {% thumbnail product.item_image_set.first.file "50x50" crop="center" as im %}
                        <img src="{{ im.url }}" class="img-responsive img-thumbnail">
                    {% endthumbnail %}
                </div>

            </td>
              <td><a href="{% url "shop:product" product.item.category.first.slug product.item.slug %}">{{ product.title }}</a></td>
            <td>{{ item.quantity }}</td>
            <td class="num">{{ item.price }} руб.</td>
            <td class="num">{{ item.total }} руб.</td>
            <td>
                <button onclick="cart.remove('{{ product.pk }}')">Удалить</button>
            </td>
          </tr>
        {% endwith %}
      {% endfor %}
        <tr class="total">
          <td colspan="4" align="right">Итого</td>
          <td>&nbsp;</td>
          <td class="num">{{ cart.total_price }} руб.</td>
        </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url "shop:list_all"%}" class="btn">Вернуться в магазин</a>
    <a href="#">Оформить заказ</a>
  </p>
</div>
{% endblock %}