{% extends "base.html" %}
{% load thumbnail %}


{% block breadcrumb %}


        <a href="/" class="breadcumb__page no-decoration">Главная</a>
					<span class="breadcumb__del no-decoration">»</span>
                    <a href="{% url 'shop:list_all' %}"> Каталог </a>
                    <span class="breadcumb__del no-decoration">»</span>
                    {% for parent in category.get_ancestors %}
                        <a href="{% url 'shop:detail' parent.slug %}">{{ parent.title }}</a>
                    <span class="breadcumb__del no-decoration">»</span>
                    {% endfor %}

     {{ category.title }}


<br>







{% endblock %}


{% block title %}{{ category.title }} - Каталог продукции - CAIMAN {% endblock title %}



{% block content %}




    <script language="JavaScript">



    function all_to_cart()
    {
        var post_url="{% url "cart-add" %}";
         var csrfmiddlewaretoken = "{{ csrf_token }}";

        $(".cart-quantity").each(function() {

        //$.post( post_url, { csrfmiddlewaretoken: csrfmiddlewaretoken, pk: $(this).parent().prev().prev().children(".item-variation-select-cat").val(), quantity: $(this).val() });

            $.ajax({
            type: 'POST',
             url: post_url,
            data: { csrfmiddlewaretoken: csrfmiddlewaretoken, pk: $(this).parent().prev().prev().children(".item-variation-select-cat").val(), quantity: $(this).val() },
            async:false
                    });

    });

    location.reload();



    }

    </script>


     <div class="container">
				<header class="tab-header clearfix"  style="visibility: visible;">
					<h2 class="title title--main pull-left">{{ category.title}}<span class="line line--small"><span class="line__first"></span><span class="line__second"></span></span></h2>
					<div class="tab-toggles pull-right js-isotope-btns">

					</div>
				</header>

        <div class="row isotope" style="position: relative; height: 315px;">


            {% for category_obj in object_list %}

          {% thumbnail category_obj.file "250x250" crop="center" as im %}


        <div class="col-md-3 col-xs-6 isotope-item "  style="position: absolute; left: 0px; top: 0px; visibility: visible;">
						<a href="{% url 'shop:detail' category_obj.slug %}"  class="listing-anons equal-height-item listing-anons--home triangle triangle--big line-down no-decoration" style="height: 315px;">
							<div class="listing-anons__img">


                                <img src="{{ im.url }}" class="img-responsive"  alt="{{ item_obj.title }}">
							</div>
							<div class="listing-anons__title">
								<h4 class="name" style="margin-top: -30px;">{{ category_obj.title }} ({{category_obj.get_children.count|add:category_obj.item_set.count}})</h4>
							</div>
							<div class="listing-anons__hidden">
								<h3>{{ category_obj.title }}</h3>
							</div>
						</a>
					</div>

          {% endthumbnail %}

         {% endfor %}


<div class="col-md-11 col-md-offset-1 col-xs-6 isotope-item"  style="position: absolute; left: 0px; top: 0px; visibility: visible; ">

<br><br><br>


    {% if item_list.count > 0 %}

    <table class="table">
    <th>
        <td></td>
    <td></td>
    <td>{% if  user and not user.is_anonymous  %} Оптовая цена {% else %}

    <a data-toggle="popover" style="cursor: pointer;" title="Вниманию оптовикам !!! Что бы получить оптовую цену, необходимо зарегистрироваться." data-content="Что бы получить оптовую цену, необходимо зарегистрироваться, как партнер.">    Розничная цена </a>
    {% endif %} </td>
    <td></td>
    <td></td>
    </th>
          {% for category_obj in item_list %}



<tr>
<td class="text-left" width="10%">

    {% if category_obj.item_variation_set.first.item_image_set.first.file %}

        {% thumbnail category_obj.item_variation_set.first.item_image_set.first.file "400x400" crop="center" as im %}
        <img src="{{ im.url }}" width="150" onclick="img_on_hover()" class="img-responsive img_product_mini"  alt="{{ item_obj.title }}">
        {% endthumbnail %}
    {% else %}

        <img src="/static/images/nofoto.jpg" class="img-responsive" width="150"  alt="{{ item_obj.title }}">

    {% endif %}






</td>
<td width="50%">

   <b style="font-size: 16px;">{{ category_obj.title }}</b>  <b> (Мин.партия: {{  category_obj.min_offer }} )</b>
       <br>
    {{ category_obj.content_small }} <a href="{% url 'shop:product' category.slug category_obj.slug %}">Смотреть полное описание >></a>


    {% if user.username == 'admin' %} <br><a href="/admin/shop/item/{{ category_obj.pk }}/change/">Редактировать в системе управления {{  user.is_admin }}</a> {% endif %}

</td>

<td class="text-left" width="20%">






     {% if category_obj.item_variation_set.count > 1 %}






            <select class="form-control item-variation-select-cat"   style="width:170px; height: 40px; text-align: right;">
                {% for variation_obj in category_obj.item_variation_set.all %}
                    <option value="{{ variation_obj.pk }}">{{ variation_obj.title }}</option>
                {% endfor %}
            </select>
    {% else %}

{{ category_obj.item_variation_set.first.title }}
        <br>



{% if user and not user.is_anonymous  %}  <b> РРЦ:</b> {{ category_obj.item_variation_set.first.price_1 }} &#8381; {% endif %}

<input type="hidden" class="item-variation-select-cat" value="{{ category_obj.item_variation_set.first.pk }}">
    {% endif %}











    <br>

</td>

<td width="12%">

    {% for variation_obj in category_obj.item_variation_set.all %}

    <span class="item-desc-{{ variation_obj.pk }}"  {% if forloop.counter != 1 %} style="display: none;" {% endif %} id="span-{{ variation_obj.pk }}">{% if user and not user.is_anonymous  %} {{ variation_obj.price_2 }} {% else %} {{ variation_obj.price_1 }} {% endif %}</span>
  {% endfor %}
    <b>&nbsp; &#8381;</b>
        <br>

     {% for variation_obj in category_obj.item_variation_set.all %}
    <span class="item-stock-{{ variation_obj.pk }}"  {% if forloop.counter != 1 %} style="display: none;" {% endif %} id="span-stock-{{ variation_obj.pk }}">

    {% if variation_obj.stock == 1 %}
         <font color="green">    На складе </font>
             {% elif variation_obj.stock == 2 %}
             <font color="blue"> Ожидается  - {{ variation_obj.stock_text }} </font>
             {% elif variation_obj.stock == 0 %}
             <font color="red"> Нет в наличии </font>
          {% endif %}
        </span>


         <input type="hidden" id="stock-{{ variation_obj.pk }}" value="{{ variation_obj.stock }}">




    {% endfor %}







</td>


    <td width="10%">





                     <input type="number"   class="cart-quantity  input-sm"  value="0" size="4" style="width: 70px;height: 40px;text-align: right;{% if category_obj.item_variation_set.first.stock != 1  %} display: none; {% endif %}">






    </td>

<td width="10%">



                    <button style="{% if category_obj.item_variation_set.first.stock != 1  %} display: none; {% endif %}" class="button button--grey button--main btn button--active" onclick="cart.add($(this).parent().prev().prev().prev().children('.item-variation-select-cat').val(), $(this).parent().prev().children('.cart-quantity').val());">В корзину</button>
{% for item in cart.list_items  %}
    {% if  item.obj.pk == category_obj.item_variation_set.first.pk  %}
    <br><span style="color: red;"><span class="fa fa-shopping-cart"></span> в корзине</span>
    {% endif %}
{% endfor %}

</td>

</tr>




      {% comment %}
// Товары категории
        <div class="col-md-3 col-xs-6 isotope-item wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s" style="position: absolute; left: 0px; top: 0px; visibility: visible; animation-duration: 1.5s; animation-delay: 0.7s; animation-name: fadeInLeft;">
						<a href="{% url 'shop:product' category.slug category_obj.slug %}"  class="listing-anons equal-height-item listing-anons--home triangle triangle--big line-down no-decoration" style="height: 315px;">
							<div class="listing-anons__img">


                                <img src="{{ im.url }}" class="img-responsive"  alt="{{ item_obj.title }}">
							</div>
							<div class="listing-anons__title">
								<h4 class="name">{{ category_obj.title }}</h4>
							</div>
							<div class="listing-anons__hidden">
								<h3>{{ category_obj.title }}</h3>
							</div>
						</a>
					</div>
         {% endcomment %}




          {% endfor %}

    <tr>
        <td colspan="6" align="right"> <button  class="button button--grey button--main btn button--active" onclick="all_to_cart();">Добавить все</button></td>
    </tr>
</table>

{% endif %}



</div>




        </div>

     <div class="row">
    <div class="col-md-12">

        {{ category.content | safe}}

        <br><br><br>
    </div>

    </div>

     </div>



<br>









{% endblock content %}




{% comment %}
{% block content %}
<div class="container">
    <h1>{{ category.title}}</h1>

    {{ category.content|safe }}

    {% for category_obj in object_list %}
        <a href="{% url 'shop:detail' category_obj.slug %}">{{ category_obj.title }}</a><br>
    {% endfor %}

    {% for item_obj in item_list %}
        <a href="{% url 'shop:product' category.slug item_obj.slug %}">{{ item_obj.title }}</a><br>
    {% endfor %}
</div>
{% endblock content %}

{% endcomment %}


