{% extends "base.html" %}
{% load thumbnail %}


{% block breadcrumb %}


        <a href="/" class="breadcumb__page no-decoration">Главная</a>
					<span class="breadcumb__del no-decoration">»</span>
                    <a href="{% url 'shop:list_all' %}"> Магазин </a>
                    <span class="breadcumb__del no-decoration">»</span>
     {{ category.title }}


{% endblock %}


{% block title %}{{ category.title }} - Каталог продукции - CAIMAN {% endblock title %}



{% block content %}


     <div class="container">
				<header class="tab-header clearfix wow fadeInUp" data-wow-delay="0.7s" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.7s; animation-name: fadeInUp;">
					<h2 class="title title--main pull-left">{{ category.title}}<span class="line line--small"><span class="line__first"></span><span class="line__second"></span></span></h2>
					<div class="tab-toggles pull-right js-isotope-btns">

					</div>
				</header>

        <div class="row isotope" style="position: relative; height: 315px;">


            {% for category_obj in object_list %}

          {% thumbnail category_obj.file "250x250" crop="center" as im %}


        <div class="col-md-3 col-xs-6 isotope-item wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s" style="position: absolute; left: 0px; top: 0px; visibility: visible; animation-duration: 1.5s; animation-delay: 0.7s; animation-name: fadeInLeft;">
						<a href="{% url 'shop:detail' category_obj.slug %}"  class="listing-anons equal-height-item listing-anons--home triangle triangle--big line-down no-decoration" style="height: 315px;">
							<div class="listing-anons__img">


                                <img src="{{ im.url }}" class="img-responsive"  alt="{{ item_obj.title }}">
							</div>
							<div class="listing-anons__title">
								<h4 class="name">{{ category_obj.title }}</h4>
							</div>
							<div class="listing-anons__hidden">
								<h3>{{ category_obj.title }}</h3>
							</div>
						</a>
					</div>

          {% endthumbnail %}

         {% endfor %}


<div class="col-md-11 col-md-offset-1 col-xs-6 isotope-item wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s" style="position: absolute; left: 0px; top: 0px; visibility: visible; animation-duration: 1.5s; animation-delay: 0.7s; animation-name: fadeInLeft;">

<br><br><br>
    <table class="table">
          {% for category_obj in item_list %}

          {% thumbnail category_obj.item_variation_set.first.item_image_set.first.file "150x150" crop="center" as im %}

<tr>
<td class="text-left">
  <img src="{{ im.url }}" class="img-responsive"  alt="{{ item_obj.title }}">
</td>
<td>

   <b style="font-size: 16px;">{{ category_obj.title }}</b>
       <br>

</td>

<td>

    {{ category_obj.title }}<br>

</td>

</tr>




      {% comment %}
// Товары категории
        <div class="col-md-3 col-xs-6 isotope-item wow fadeInLeft" data-wow-delay="0.7s" data-wow-duration="1.5s" style="position: absolute; left: 0px; top: 0px; visibility: visible; animation-duration: 1.5s; animation-delay: 0.7s; animation-name: fadeInLeft;">
						<a href="{% url 'shop:product' category.slug category_obj.slug %}"  class="listing-anons equal-height-item listing-anons--home triangle triangle--big line-down no-decoration" style="height: 315px;">
							<div class="listing-anons__img">


                                <img src="{{ im.url }}" class="img-responsive"  alt="{{ item_obj.title }}">
							</div>
							<div class="listing-anons__title">
								<h4 class="name">{{ category_obj.title }}</h4>
							</div>
							<div class="listing-anons__hidden">
								<h3>{{ category_obj.title }}</h3>
							</div>
						</a>
					</div>
         {% endcomment %}

           {% endthumbnail %}


         {% endfor %}
</table>
</div>




        </div>
     </div>

<br>









{% endblock content %}




{% comment %}
{% block content %}
<div class="container">
    <h1>{{ category.title}}</h1>

    {{ category.content|safe }}

    {% for category_obj in object_list %}
        <a href="{% url 'shop:detail' category_obj.slug %}">{{ category_obj.title }}</a><br>
    {% endfor %}

    {% for item_obj in item_list %}
        <a href="{% url 'shop:product' category.slug item_obj.slug %}">{{ item_obj.title }}</a><br>
    {% endfor %}
</div>
{% endblock content %}

{% endcomment %}